html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body{
    margin:0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f7f13d;
}

.wrapper{
    /*background-color: plum;*/
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 30px;
    border-top: 5px #000 solid;
    /*#000 is black*/
    border-bottom: 5px #000 solid;
}

/*header*/
header ul{
    padding-left: 0;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

header ul li{
    display: inline;
}
header ul li:first-child{
    border-right: 1px #000 solid;
    padding-right: 10px;
}
header ul li:last-child{
    border-left: 1px #000 solid;
    padding-left: 10px;
}

header ul li.active{
    font-style: italic;
}

header ul li a{
    color: black;
}

#portfolio{
    color: black;
    font-style: italic;
    font-weight: bold;
}
header h1{
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 35px;
}

/*main*/
main{
    height: 400px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-left: 50px;
    margin-right: 50px;
}

main div{
    padding: 40px;
}
main .about{
    width: 60%;
    /*height: 300px;*/
    /*background-color: lime;*/
    display: inline-block;
    float: left;
}

main .profile{
    width: 40%;
    /*height: 300px;*/
    /*background-color: salmon;*/
    display: inline-block;
    float: right;
}

main .profile img{
    width: 100%;
    /*height: auto;*/
    border: 1px #000000 solid;
    padding: 10px;
    max-height: 300px;
    max-width: 300px;
}
main .about h3{
    text-transform: uppercase;
}

.clearfloat{
    clear: both;
}

.portfolio{
    height: 100%;
    margin: 10px 150px;
}
.web{
    font-weight: bold;
    font-style: italic;
}
.time{
    font-size: 16px;
}
p{
    font-family: serif;
}
/*footer*/
footer{
    text-align: center;
    padding:10px;
    font-weight: bold;
}

footer a{
    color:black;
    font-size: 18px;
}